<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/application.css}"
	href="../static/css/application.css" />
<title>Community BikeShare</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content=""/>
<meta name="author" content=""/>
<title>About Us</title>
</head>
<body>
<nav class="navbar navbar-default navbar-blue" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <a class="navbar-brand" href="bikeshare.html">Bike Share</a>
    </div>
    
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">

    
      
      </ul>
    </div>   
    
 </div><!-- /.container-fluid -->
</nav>
			<!-- Page Content -->
			<div class="container">
				<!-- Introduction Row -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Team 12
							<h4>We are Team 12 and this is the community bike share app
								as part of CMPE273 project. You can rent a bike and also make
								your bike available to others in need.</h4>
						</h1>
					</div>
				</div>
				<!-- Team Members Row -->
				<div class="row">
					<div class="col-lg-12"></div>
					<div class="col-lg-3 col-sm-6 text-center">
						<img th:href="@{/images/komal.jpg}" class="img-circle img-responsive img-center"
							style="width: 150px; height: 130px;" src="/images/komal.jpg"
							alt=""/>
						<h3>Komal Dedhia</h3>
					</div>
<div class="col-lg-3 col-sm-6 text-center">
<img th:href="@{/images/swathi.jpg}" class="img-circle img-responsive img-center" style="width: 150px; height: 130px;" src="/images/swathi.jpg"
							alt=""/>
<h3>Swathi Krishnan</h3>
</div>
<div class="col-lg-3 col-sm-6 text-center">
<img th:href="@{/images/rucha.jpg}" class="img-circle img-responsive img-center"
							style="width: 150px; height: 130px;" src="/images/rucha.jpg"
							alt=""/>
						<h3>Rucha Brahmankar</h3>
					</div>
					<div class="col-lg-3 col-sm-6 text-center"></div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-sm-6 text-center">
						<img th:href="@{/images/goudamy.jpg}" class="img-circle img-responsive img-center"
							style="width: 150px; height: 130px;" src="/images/goudamy.jpg"
							alt=""/>
						<h3>Goudamy Sockalingam</h3>
					</div>
					<div class="col-lg-3 col-sm-6 text-center">
						<img th:href="@{/images/kokil.jpg}" class="img-circle img-responsive img-center"
							style="width: 150px; height: 130px;" src="/images/kokil.jpg"
							alt=""/>
						<h3>Kokil Awasthi</h3>
					</div>
					<div class="col-lg-3 col-sm-6 text-center">
						<img th:href="@{/images/kiran.jpg}" class="img-circle img-responsive img-center"
							style="width: 150px; height: 130px;" src="/images/kiran.jpg"
							alt=""/>
						<h3>Kiranmaiye Mannava</h3>
					</div>
				</div>
				<!-- /.container -->
			</div>
			<!-- jQuery -->
  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>