<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
   <link rel="stylesheet" th:href="@{/static/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/static/css/application.css}" href="../../static/css/application.css" />
  </head>
<body>

<br></br>
<br></br>
<br></br>
<br></br>
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
     <div class="panel-heading">Bikes you rented </div>
     <div class="panel-body">
<form action="#" th:action="@{/api/v1/bike/listing}" th:object="${bike1}" method="POST" role="form">
<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
<table border="1" style="width:300px">
<tr><td>BikeID</td><td>Owner ID</td><td>Accessories</td> <td>From Date </td>
<td> To Date </td><td>Bike Code</td> </tr>
<tr th:each="bike : ${bike}">
       <td th:text="${bike.bikeId}" ></td>
       <td th:text="${bike.address}"></td>
       <td th:text="${bike.accessories}"></td>
       <td th:text="${bike.fromDate}"></td> 
       <td th:text="${bike.toDate}"></td>   
       <td th:text="${bike.bikeCode}"></td>  
       <td> <input type = "radio" th:field="*{bikeId}" th:value = "${bike.bikeId}"  />          
       </td>  
       </tr>
   
</table>
</div>
 </div>
  <br></br>
 <div class="row">
 <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
 
<button id="submit" type="submit" class="btn btn-default">Update</button>
</div>
  </div>
</form>

<br></br>
   </div>
   </div>
   </div>
 
 <script src ="/js/jquery-1.11.1.min.js"></script>
<script src ="/js/bootstrap.min.js"></script>
</body>
</html>