<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Community Bike Share Web Application</title> 
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	
    <link href="/css/bootstrap.css" rel="stylesheet"/>
	<link rel="stylesheet" th:href="@{/css/application.css}" href="/css/application.css" />   
	<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.css}" href="../static/css/bootstrap-responsive.css"  />		
	<style type="text/css">
      body {       
        padding-bottom: 50px;
        background: #FF8C00; 
      }
    </style>	
</head>
<body>	 
    <nav class="navbar navbar-default" role="navigation">
 		<div class="container-fluid">
    			<div class="navbar-header">
     			 <a class="navbar-brand" href="#">Bike Share</a>
    		</div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
	 			
       
      		<ul class="nav navbar-nav navbar-right">

		        <li><a href="#" th:href="@{/api/v1/users/signup}">Sign Up</a></li>
		        <li><a href="#" th:href="@{/api/v1/users/userlogin}">Login</a></li>
      		</ul>
    		</div>
  		</div>
  	</nav>
    
    
     
	 <div class="container">

	 <div id="myCarousel" class="carousel slide">
	
		<div class="carousel-inner">
			<div class="active item"><img th:href="@{/images/bike1.jpg}" src="/images/bike1.jpg" alt="Car Carousel" height="1300" width="2500" /></div>		
			<div class="item"><img th:href="@{/images/bike3.jpg}" src="/images/bike3.jpg" alt="Car Carousel"  height="1300" width="2500"/></div>
			<div class="item"><img th:href="@{/images/bike4.jpg}" src="/images/bike4.jpg" alt="Car Carousel"  height="1300" width="2500"/></div>
			<div class="item"><img th:href="@{/images/bike5.jpg}" src="/images/bike5.jpg" alt="Car Carousel"  height="1300" width="2500"/></div>
			
		</div>
	
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	</div>
	<script src ="/js/jquery.js"></script>
	<script src ="/js/bootstrap.js"></script>
</body>
</html>
