<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Community Bike Share Web Application</title> 
    <meta charset="UTF-8" />
   	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
	
</head>
<body>
   
    <nav class="navbar navbar-blue" role="navigation">
 		<div class="container-fluid">
    			<div class="navbar-header">
     			 <a class="navbar-brand" href="#">Bike Share</a>
    		</div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
	 			
       
      		<ul class="nav navbar-nav navbar-right">

		        <li><a href="AboutUs.html">About Us</a></li>
		        <li><a href="SignUp.html">Sign up</a></li>
		        <li><a href="#" th:href="@{/api/v1/users/userlogin}">Login</a></li>
      		</ul>
    		</div>
  		</div>
  	</nav>
	<div>
		<img th:href="@{/images/taiwan_Bicycle_Ride_hd_wallpaper_8.jpg}"
          src="../images/taiwan_Bicycle_Ride_hd_wallpaper_8.jpg" class="img-responsive" alt="Responsive image"/>
	</div>
	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
<!--<script>
    $('.dropdown-toggle').dropdown()
</script>-->
