<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Community Bike Share Web Application</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<style>
html, body, #map-canvas {
	height: 90%;
	margin: 0px;
	padding: 0px;
	top:0px;
	bottom:0;
}

#panel {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -180px;
	z-index: 0;
	background-color: #fff;
	padding: 0px;
}
</style>
<script th:src="@{https://maps.googleapis.com/maps/api/js?v=3.exp}"
	src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script
	th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/rentBikeLocation1.js}"
	src="../static/js/rentBikeLocation1.js"></script>
</head>

<body>
	
<div th:include="header"></div>


	<input type="hidden" id="bikeList" th:value="${bikeList}" />
	<input type="hidden" id="userLatitude" th:value="${userLatitude}" />
	<input type="hidden" id="userLongitude" th:value="${userLongitude}" />
	
	<div id="map-canvas"></div>
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><label >Click on the bike marker on map to select</label></h3>
  </div>
  <div class="panel-body">
   
  <h4>Please review bike details and click submit to rent</h4>
  <table class="table">
         <tbody>
          <tr>
            <td><span><label >Bike Location :</label></span> </td>
            <td><span id="address"></span></td>
          </tr>
          <tr>
           <td><span><label >Bike Rented Dates :</label></span> </td>
            <td><span id="dateRange"></span></td>
          </tr>
          <tr>
           <td><span><label >Bike Description :</label></span> </td>
            <td><span id="description"></span></td>
          </tr>
          <!--  <tr>
           <td><span><label >Bike Code :</label></span> </td>
            <td><span id="bikeCode"></span></td>
          </tr> -->
          <tr>
           <td><span><label >Bike Accessories :</label></span> </td>
            <td><span id="accessories"></span></td>
          </tr>
        </tbody>
      </table>
  
       </div>
           </div>
	<form action="#" th:action="@{'/api/v1/bike/rent'}"
		th:object="${rentedBike}" th:method="post" role="form">

		<input type="hidden" id="bikeId" name="bikeId"></input> <input
			type="hidden" id="userFromDate" name="fromDate" th:value="${userFromDate}" /> <input
			type="hidden" id="userToDate" name="toDate" th:value="${userToDate}" /> <input
			type="hidden"  id="userEmail" name="userEmail"  /> <input
			 type="hidden"	name="email" id="requesterEmail" th:value="${userLogin.email}" />
			  <input name="bikeCode" id="bikeCode"  />
		<button id="enableButton" type="submit" class="btn btn-default" style="margin-left:25%;">Rent Bike</button>
	</form>

</body>

</html>

