<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
   <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
  </head>
  <Title></Title>
<body>
<h1>Error : 201</h1>
<h2>Oops !!! requested resource not available</h2>
<!--  <nav class="navbar navbar-blue" role="navigation">
  	<div class="navbar-header">
      <a class="navbar-brand" href="bikeshare.html">Bike Share</a>
    </div>-->

  </body>
  </html>