
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Community Bike Share Web Application</title> 
    <meta charset="UTF-8" />
   	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
	
	
</head>

<body>

<nav class="navbar navbar-default navbar-blue" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
       <a class="navbar-brand" href="#" th:href="@{/api/v1/users/dashboard}">Bike Share</a>
      <a class="navbar-brand">Welcome User</a>
    </div>
    
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">

        <li><a href="AboutUs.html">About Us</a></li>
        <li class="active"><a href="#" th:href="@{/api/v1/users/logout}">LogOut</a></li>
      </ul>
    </div>   
    
 </div><!-- /.container-fluid -->

</nav>
 <!-- <p th:text="'email: ' + ${userLogin.email}"/> -->

<h2 style="text-align:center;">Welcome to Bike Share</h2>
 <h3 style="text-align:center;">Get Started !! Rent or List a bike </h3>
 <hr/>
 <div class="row">
  <div class="col-xs-6 col-md-4"><img src="/images/listImage.png" height="250" width="250" class="img-responsive" alt="Responsive image"></img></div>
  <div class="col-xs-6 col-md-4" style="margin-top:1%;"><img src="/images/images.jpg" height="230" width="230" class="img-circle" alt="Responsive image"></img></div>
 </div>
 
 <!-- Refer this as example for sending hidden values -->
 <div class="row">
  <div class="col-md-1" style="margin-left:5%;">
 <form action="#" th:action="@{/api/v1/bike/List}" th:object="${Bike}" method="post" role="form">
 <div class="form-group">
  <input type="hidden" name="userEmail" id="userEmail" th:value="${userLogin.email}"/>
 </div>
 <button id="submit" type="submit" class="btn btn-default">List a Bike</button>
</form>
</div>

<div class="col-md-1 col-md-offset-3" style="margin-top:1%;">

<!-- ADD rent a bikes object name ,correct api names,method=post/get,send any hidden attributes or values to be sent -->
<form action="#" th:action="@{/api/v1/bike/rent}" th:method="put" role="form">
  <div class="form-group">
 <input type="hidden" name="email" id="userEmail" th:value="${userLogin.email}" />
 </div>
  <button id="submit" type="submit" class="btn btn-default">Rent a Bike</button>
</form>

</div>
</div>

<p><a href="#" th:href="@{/api/v1/bike/rent}">Rent a Bike</a></p>
 <p><a href="#" th:href="@{/api/v1/bike/return}">Return a Bike</a></p>
 <p><a href="#" th:href="@{/api/v1/bike/getListedBike}">Listed Bikes</a></p>
 <p><a href="#" th:href="@{/api/v1/notify}">Notification</a></p>
    
<script src ="/js/jquery-1.11.1.min.js"></script>
<script src ="/js/bootstrap.min.js"></script>

</body>


</html>
