
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Community Bike Share Web Application</title> 
    <meta charset="UTF-8" />
   	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
	
	
</head>

<body>

<nav class="navbar navbar-default navbar-blue" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <a class="navbar-brand" href="bikeshare.html">Bike Share</a>
      <a class="navbar-brand">Welcome User</a>
    </div>

   
  </div><!-- /.container-fluid -->

</nav>
 
 <p><a href="#" th:href="@{/api/v1/bike/getListedBike}">Listed Bikes</a></p>
 <p><a href="#" th:href="@{/api/v1/notify}">Notification</a></p>
 <p><a href="#" th:href="@{/api/v1/bike/rent}">Rent a Bike</a></p>
 <p><a href="#" th:href="@{/api/v1/bike/list}">List a Bike</a></p>
 <p><a href="#" th:href="@{/api/v1/bike/return}">Return a Bike</a></p>

    
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>




</body>


</html>
