<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Community Bike Share Web Application</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif|Lobster+Two' rel='stylesheet' type='text/css'>
    <link href="/css/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
<header>
<h1>Bike Share </h1>
</header>
  <body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html"> </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="/Login/">Login/Sign up</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

    <div class="container">

	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><img src="images/bike1.jpg" alt="Car Carousel" /></div>
			<div class="item"><img src="/images/bike2.jpg" alt="Car Carousel" /></div>
			<div class="item"><img src="/images/bike3.jpg" alt="Car Carousel" /></div>
			<div class="item"><img src="/images/bike4.jpg" alt="Car Carousel" /></div>
			<div class="item"><img src="/images/bike5.jpg" alt="Car Carousel" /></div>
			
		</div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	


		
	</div> <!-- row 2 -->

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="_/js/jquery.js"></script>
    <script src="_/js/bootstrap.js"></script>

  </body>
</html>
