<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
   <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
  </head>
<body>
<nav class="navbar navbar-blue" role="navigation">
  	<div class="navbar-header">
      <a class="navbar-brand" href="bikeshare.html">Bike Share</a>
    </div>

    
</nav>
<img th:src="@{/images/taiwan_Bicycle_Ride_hd_wallpaper_8.jpg}"
          src="/images/taiwan_Bicycle_Ride_hd_wallpaper_8.jpg" class="img-responsive" alt="Responsive image"/>

<!--style="margin-top:-250px;background: none repeat scroll 0 0 #FFffff;opacity: 0.5;"-->
<form action="#" th:action="@{/api/v1/users/userval}" th:object="${userLogin}" method="get" role="form">
  <div class="form-group">
    <label for="email" >Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" th:field="*{email}"/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
  </div>
  <button id="submit" type="submit" class="btn btn-default">Submit</button>
</form>

  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>