<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <title>Community Bike Share Web Application</title> 
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
   <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/application.css}" href="/css/application.css" />
	 <style>
   
   body {
     margin: 0;
     background: url('/images/login_bg.jpg');
     background-size: 100%;
     background-repeat:no-repeat;
     display: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
   
   </style>   

  </head>
<body>

<nav class="navbar navbar-default" role="navigation">
 		<div class="container-fluid">
    			<div class="navbar-header">
     			 <a class="navbar-brand" href="#" th:href="@{/bikeshare}">Bike Share</a>
    		</div>

    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">    
	 			
       
      		<ul class="nav navbar-nav navbar-right">

		        <li><a href="#" th:href="@{/about}">About Us</a></li>
		        <li><a href="#" th:href="@{/api/v1/users/signup}">Sign up</a></li>
      		</ul>
    		</div>
  		</div>
  	</nav>
<!-- <img th:src="@{/taiwan_Bicycle_Ride_hd_wallpaper_8.jpg}"
          src="/taiwan_Bicycle_Ride_hd_wallpaper_8.jpg" class="img-responsive" alt="Responsive image"/> -->

<br></br>

<div class="col-md-3 col-md-offset-3" style="margin-top:10%;margin-left: 70%;">
<div class="panel panel-default">
     <div class="panel-heading">User Login</div>
     <div class="panel-body">
<form action="#" th:action="@{/api/v1/users/userval}" th:object="${userLogin}" method="post" role="form">
  <div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6">
    <label for="email" >Email address *</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" th:field="*{email}"/>
    <p style="color:red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</p>
    </div>
  </div>
	<br></br>
  <div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6">
    <label for="password">Password *</label>
    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
    <p style="color:red;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</p>
  </div>
  </div>
  <br></br>
 <div class="row">
 <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6">
  <button id="submit" type="submit" class="btn btn-default">Submit</button>
  </div>
  </div>
   <br></br>
</form>
<form th:action="@{/connect/facebook}" th:method="POST">
			<input type="hidden" name="scope" value="email,public_profile" />
			<div class="formInfo">
				<p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
			</div>
			<p><button type="submit">Connect to Facebook</button></p>
		</form>

</div>
</div>
</div>
 <script src ="/js/jquery-1.11.1.min.js"></script>
<script src ="/js/bootstrap.min.js"></script>

</body>
</html>