<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      
    </link>
     <!-- <link href="css/bootstrap.min.css" rel="stylesheet" >-->
     <!--FROM HERE ADDED NEW CODE-->
     <title>Bootstrap Rating Input Demo</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--script src="../js/bootstrap-rating-input.js"></script-->
    <!--<script  th:src="@{../js/bootstrap-rating-input.js}"></script>-->
    <script src="../js/bootstrap-rating-input.min.js"></script>
    <style>
      body {
        font-size: 20px;
        padding: 50px;
      }
    </style>
   
  </head>
<body>
<nav class="navbar navbar-default navbar-blue" role="navigation">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

	    <div class="navbar-header">
	       <a class="navbar-brand" href="#" th:href="@{/api/v1/users/dashboard}">Bike Share</a>
	      <a class="navbar-brand">Welcome User</a>
	    </div>
    
     	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
	      <ul class="nav navbar-nav navbar-right">
	
	        <li><a href="AboutUs.html">About Us</a></li>
	        <li class="active"><a href="#" th:href="@{/api/v1/users/logout}">LogOut</a></li>
	      </ul>
    	</div>   
    
	 </div><!-- /.container-fluid -->

 </nav>

<p th:text="'email: ' + ${oldBike.userEmail}"/> 

<form id="reviewForm" role="form"  method="post" th:action="@{/api/v1/bike/reviewBike}" th:object="${review}"  ><!--method="post" th:action="@{/api/v1/bike/reviewBike}" th:object="${review}" action="#"-->
  <div class="form-group">
    <label for="userEmail">User Email</label>
    <input type="text" class="form-control" id="userEmail"  name="userEmail" th:field="*{userEmail}" /> <!--th:field="*{bikeId}" th:field="*{userEmail}" th:value="${oldBike.userEmail}"   th:value="${oldBike.bikeId}"-->
  </div>

 <div class="form-group">
    <label for="bikeId">Bike Id</label>
    <input type="text" class="form-control" id="bikeId"  name="bikeId"  th:field="*{bikeId}"/><!--th:value="${oldBike.bikeId}" th:field="*{bikeId}" -->
  </div>

  <div class="form-group">
    <label for="comment">Comments</label><br/>
      <div class="form-group">
        <input type="number" name="your_awesome_parameter" id="some_id" class="rating" />
        </div>

    <textarea name="comment" cols="100" rows="1" style="width:500px; height:200px;" id="comment" th:field="*{comment}"></textarea>
  <!-- <input align="top" type="review" style="text-align: front;height:200px" class="form-control" id="review" placeholder="Review" th:value="${review.comment}"/>-->
  </div>

  <button id="submit" type="submit" class="btn btn-default" >Submit</button><!-- onclick="reviewBikeAjax()"-->
</form>

   <script src ="/js/jquery-1.11.1.min.js"></script>
<script src ="/js/bootstrap.min.js"></script>

 <script>
 function reviewBikeAjax() {  
    var bikeId = $('#bikeId').val();
    var userEmail = $('#userEmail').val();
    var comment = $('#comment').val();
    alert ("verification code has been sent to your mobile.");
    
    $.ajax({
      type: "POST",
      url: "http://localhost:8080/api/v1/bike/reviewBike",
      contentType: 'application/json',
     
      data:JSON.stringify({bikeId:bikeId,userEmail:userEmail,comment:comment}),
      dataType: "json"
     })
      .done(function( msg ) {
        alert( "Data Saved: ");
      });
    
  }
  </script>
</body>
</html>
