<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      
    </link>
     <!-- <link href="css/bootstrap.min.css" rel="stylesheet" >-->
     <!--FROM HERE ADDED NEW CODE-->
     <title>Bootstrap Rating Input Demo</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--script src="../js/bootstrap-rating-input.js"></script-->
    <!--<script  th:src="@{../js/bootstrap-rating-input.js}"></script>-->
    <script src="../js/bootstrap-rating-input.min.js"></script>
    <style>
      body {
        font-size: 20px;
        padding: 50px;
      }
    </style>
    <!--<script>
      $(function(){
        $('input').on('change', function(){
          alert("Changed: " + $(this).val())
        });
      });
    </script>-->

<!--TILL HERE ADDED NEW CODE-->
  </head>
<body>
<nav class="navbar navbar-blue" role="navigation">
  	<div class="navbar-header">
      <a class="navbar-brand" href="bikeshare.html">Bike Share</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	 <ul class="nav navbar-nav">
        <li><a href="reservations.html">Reservations</a></li>
        <li><a href="Locations.html">Locations</a></li>
      </ul>
       
      <ul class="nav navbar-nav navbar-right">
       <li><a href="AboutUs.html">About Us</a></li>
       <li><a href="#" th:href="@{/api/v1/users/logout}">LogOut</a></li>
      </ul>
      
    </div>
</nav>
<!--<img src="taiwan_Bicycle_Ride_hd_wallpaper_8.jpg" class="img-responsive" alt="Responsive image">-->
<!--style="margin-top:-250px;background: none repeat scroll 0 0 #FFffff;opacity: 0.5;"-->
<p th:text="'email: ' + ${oldBike.userEmail}"/> 

<form id="reviewForm" role="form"  method="post" th:action="@{/api/v1/bike/reviewBike}" th:object="${review}"  ><!--method="post" th:action="@{/api/v1/bike/reviewBike}" th:object="${review}" action="#"-->
  <div class="form-group">
    <label for="userEmail">User Email</label>
    <input type="text" class="form-control" id="userEmail"  name="userEmail" th:field="*{userEmail}" /> <!--th:field="*{bikeId}" th:field="*{userEmail}" th:value="${oldBike.userEmail}"   th:value="${oldBike.bikeId}"-->
  </div>

 <div class="form-group">
    <label for="bikeId">Bike Id</label>
    <input type="text" class="form-control" id="bikeId"  name="bikeId"  th:field="*{bikeId}"/><!--th:value="${oldBike.bikeId}" th:field="*{bikeId}" -->
  </div>

  <div class="form-group">
    <label for="comment">Comments</label><br/>
      <div class="form-group">
        <input type="number" name="your_awesome_parameter" id="some_id" class="rating" />
        </div>

    <textarea name="comment" cols="100" rows="1" style="width:500px; height:200px;" id="comment" th:field="*{comment}"></textarea>
  <!-- <input align="top" type="review" style="text-align: front;height:200px" class="form-control" id="review" placeholder="Review" th:value="${review.comment}"/>-->
  </div>

  <button id="submit" type="submit" class="btn btn-default" >Submit</button><!-- onclick="reviewBikeAjax()"-->
</form>

   <!-- <script src ="js/jquery-1.11.1.min.js"></script>
  <script src ="js/bootstrap.min.js"></script>-->
  <script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

 <script>
 function reviewBikeAjax() {  
    var bikeId = $('#bikeId').val();
    var userEmail = $('#userEmail').val();
    var comment = $('#comment').val();
    alert ("verification code has been sent to your mobile.");
    
    $.ajax({
      type: "POST",
      url: "http://localhost:8080/api/v1/bike/reviewBike",
      contentType: 'application/json',
     
      data:JSON.stringify({bikeId:bikeId,userEmail:userEmail,comment:comment}),
      dataType: "json"
     })
      .done(function( msg ) {
        alert( "Data Saved: ");
      });
    
  }
  </script>
</body>
</html>
